<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.net/NetTiersMap.xsd">
	<Table Id="Address" EntityName="Address" Owner="dbo" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true">
		<Column Id="AddressId" CSType="System.Int32" PropertyName="AddressId" FieldName="_addressId" FriendlyName="Address Id" IncludeInOutput="true" />
		<Column Id="EmployeeId" CSType="System.Int32" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="Line1" CSType="System.String" PropertyName="Line1" FieldName="_line1" FriendlyName="Line1" IncludeInOutput="true" />
		<Column Id="Line2" CSType="System.String" PropertyName="Line2" FieldName="_line2" FriendlyName="Line2" IncludeInOutput="true" />
		<Column Id="TownCity" CSType="System.String" PropertyName="TownCity" FieldName="_townCity" FriendlyName="Town City" IncludeInOutput="true" />
		<Column Id="StateOrProvince" CSType="System.String" PropertyName="StateOrProvince" FieldName="_stateOrProvince" FriendlyName="State Or Province" IncludeInOutput="true" />
		<Column Id="PostCod" CSType="System.String" PropertyName="PostCod" FieldName="_postCod" FriendlyName="Post Cod" IncludeInOutput="true" />
		<Column Id="CountryCode" CSType="System.String" PropertyName="CountryCode" FieldName="_countryCode" FriendlyName="Country Code" IncludeInOutput="true" />
	</Table>
	<Table Id="BankAccounts" EntityName="BankAccounts" Owner="dbo" PropertyName="BankAccounts" FieldName="_bankAccounts" FriendlyName="Bank Accounts" IncludeInOutput="true">
		<Column Id="BankAccountId" CSType="System.Int32" PropertyName="BankAccountId" FieldName="_bankAccountId" FriendlyName="Bank Account Id" IncludeInOutput="true" />
		<Column Id="EmployeeId" CSType="System.Int32" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="BankName" CSType="System.String" PropertyName="BankName" FieldName="_bankName" FriendlyName="Bank Name" IncludeInOutput="true" />
		<Column Id="AccountNumber" CSType="System.String" PropertyName="AccountNumber" FieldName="_accountNumber" FriendlyName="Account Number" IncludeInOutput="true" />
		<Column Id="CreatedOn" CSType="System.DateTime?" PropertyName="CreatedOn" FieldName="_createdOn" FriendlyName="Created On" IncludeInOutput="true" />
	</Table>
	<Table Id="Countries" EntityName="Countries" Owner="dbo" PropertyName="Countries" FieldName="_countries" FriendlyName="Countries" IncludeInOutput="true">
		<Column Id="CountryCode" CSType="System.String" PropertyName="CountryCode" FieldName="_countryCode" FriendlyName="Country Code" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<ChildCollection Id="AddressCollection" PropertyName="AddressCollection" FieldName="_addressCountryCode" FriendlyName="AddressCollection" CSType="TList&lt;Address&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Address_Countries" IncludeInOutput="true"/>
	</Table>
	<Table Id="Departments" EntityName="Departments" Owner="dbo" PropertyName="Departments" FieldName="_departments" FriendlyName="Departments" IncludeInOutput="true">
		<Column Id="DepartmentCode" CSType="System.String" PropertyName="DepartmentCode" FieldName="_departmentCode" FriendlyName="Department Code" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="CreatedOn" CSType="System.DateTime?" PropertyName="CreatedOn" FieldName="_createdOn" FriendlyName="Created On" IncludeInOutput="true" />
		<ChildCollection Id="EmployeeDepartmentsCollection" PropertyName="EmployeeDepartmentsCollection" FieldName="_employeeDepartmentsDepartmentCode" FriendlyName="EmployeeDepartmentsCollection" CSType="TList&lt;EmployeeDepartments&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeDepartments_Departments" IncludeInOutput="true"/>
	</Table>
	<Table Id="Employee" EntityName="Employee" Owner="dbo" PropertyName="Employee" FieldName="_employee" FriendlyName="Employee" IncludeInOutput="true">
		<Column Id="EmployeeId" CSType="System.Int32" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="EmployeeCode" CSType="System.String" PropertyName="EmployeeCode" FieldName="_employeeCode" FriendlyName="Employee Code" IncludeInOutput="true" />
		<Column Id="FullName" CSType="System.String" PropertyName="FullName" FieldName="_fullName" FriendlyName="Full Name" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="MiddlesName" CSType="System.String" PropertyName="MiddlesName" FieldName="_middlesName" FriendlyName="Middles Name" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="DOB" CSType="System.DateTime?" PropertyName="DOB" FieldName="_dOB" FriendlyName="DOB" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="Bio" CSType="System.String" PropertyName="Bio" FieldName="_bio" FriendlyName="Bio" IncludeInOutput="true" />
		<Column Id="CreatedOn" CSType="System.DateTime?" PropertyName="CreatedOn" FieldName="_createdOn" FriendlyName="Created On" IncludeInOutput="true" />
		<ChildCollection Id="EmployeeSkillsCollection" PropertyName="EmployeeSkillsCollection" FieldName="_employeeSkillsEmployeeId" FriendlyName="EmployeeSkillsCollection" CSType="TList&lt;EmployeeSkills&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeSkills_Employee" IncludeInOutput="true"/>
		<ChildCollection Id="EmployeeDepartmentsCollection" PropertyName="EmployeeDepartmentsCollection" FieldName="_employeeDepartmentsEmployeeId" FriendlyName="EmployeeDepartmentsCollection" CSType="TList&lt;EmployeeDepartments&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeDepartments_Employee" IncludeInOutput="true"/>
		<ChildCollection Id="EmployeeSalaryCollection" PropertyName="EmployeeSalaryCollection" FieldName="_employeeSalaryEmployeeId" FriendlyName="EmployeeSalaryCollection" CSType="TList&lt;EmployeeSalary&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeSalary_Employee" IncludeInOutput="true"/>
		<ChildCollection Id="AddressCollection" PropertyName="AddressCollection" FieldName="_addressEmployeeId" FriendlyName="AddressCollection" CSType="TList&lt;Address&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Address_Employee" IncludeInOutput="true"/>
		<ChildCollection Id="BankAccountsCollection" PropertyName="BankAccountsCollection" FieldName="_bankAccountsEmployeeId" FriendlyName="BankAccountsCollection" CSType="TList&lt;BankAccounts&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_BankAccounts_Employee" IncludeInOutput="true"/>
	</Table>
	<Table Id="EmployeeDepartments" EntityName="EmployeeDepartments" Owner="dbo" PropertyName="EmployeeDepartments" FieldName="_employeeDepartments" FriendlyName="Employee Departments" IncludeInOutput="true">
		<Column Id="EmployeeDepartmentId" CSType="System.Int32" PropertyName="EmployeeDepartmentId" FieldName="_employeeDepartmentId" FriendlyName="Employee Department Id" IncludeInOutput="true" />
		<Column Id="DepartmentCode" CSType="System.String" PropertyName="DepartmentCode" FieldName="_departmentCode" FriendlyName="Department Code" IncludeInOutput="true" />
		<Column Id="EmployeeId" CSType="System.Int32?" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="CreatedOn" CSType="System.DateTime?" PropertyName="CreatedOn" FieldName="_createdOn" FriendlyName="Created On" IncludeInOutput="true" />
	</Table>
	<Table Id="EmployeeSalary" EntityName="EmployeeSalary" Owner="dbo" PropertyName="EmployeeSalary" FieldName="_employeeSalary" FriendlyName="Employee Salary" IncludeInOutput="true">
		<Column Id="EmployeeSalaryId" CSType="System.Int32" PropertyName="EmployeeSalaryId" FieldName="_employeeSalaryId" FriendlyName="Employee Salary Id" IncludeInOutput="true" />
		<Column Id="EmployeeId" CSType="System.Int32?" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="SalaryAmount" CSType="System.Decimal?" PropertyName="SalaryAmount" FieldName="_salaryAmount" FriendlyName="Salary Amount" IncludeInOutput="true" />
		<Column Id="ApprovedOn" CSType="System.DateTime?" PropertyName="ApprovedOn" FieldName="_approvedOn" FriendlyName="Approved On" IncludeInOutput="true" />
		<Column Id="ApprovedBy" CSType="System.String" PropertyName="ApprovedBy" FieldName="_approvedBy" FriendlyName="Approved By" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
	</Table>
	<Table Id="EmployeeSkills" EntityName="EmployeeSkills" Owner="dbo" PropertyName="EmployeeSkills" FieldName="_employeeSkills" FriendlyName="Employee Skills" IncludeInOutput="true">
		<Column Id="EmployeeSkillId" CSType="System.Int32" PropertyName="EmployeeSkillId" FieldName="_employeeSkillId" FriendlyName="Employee Skill Id" IncludeInOutput="true" />
		<Column Id="EmployeeId" CSType="System.Int32?" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="SkillCode" CSType="System.String" PropertyName="SkillCode" FieldName="_skillCode" FriendlyName="Skill Code" IncludeInOutput="true" />
		<Column Id="SkillLevel" CSType="System.String" PropertyName="SkillLevel" FieldName="_skillLevel" FriendlyName="Skill Level" IncludeInOutput="true" />
		<Column Id="CreatedOn" CSType="System.DateTime?" PropertyName="CreatedOn" FieldName="_createdOn" FriendlyName="Created On" IncludeInOutput="true" />
	</Table>
	<Table Id="Skill" EntityName="Skill" Owner="dbo" PropertyName="Skill" FieldName="_skill" FriendlyName="Skill" IncludeInOutput="true">
		<Column Id="SkillCode" CSType="System.String" PropertyName="SkillCode" FieldName="_skillCode" FriendlyName="Skill Code" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Category" CSType="System.String" PropertyName="Category" FieldName="_category" FriendlyName="Category" IncludeInOutput="true" />
		<ChildCollection Id="EmployeeSkillsCollection" PropertyName="EmployeeSkillsCollection" FieldName="_employeeSkillsSkillCode" FriendlyName="EmployeeSkillsCollection" CSType="TList&lt;EmployeeSkills&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeSkills_Skill" IncludeInOutput="true"/>
	</Table>
	<Table Id="SkillLevels" EntityName="SkillLevels" Owner="dbo" PropertyName="SkillLevels" FieldName="_skillLevels" FriendlyName="Skill Levels" IncludeInOutput="true">
		<Column Id="LevelCode" CSType="System.String" PropertyName="LevelCode" FieldName="_levelCode" FriendlyName="Level Code" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<ChildCollection Id="EmployeeSkillsCollection" PropertyName="EmployeeSkillsCollection" FieldName="_employeeSkillsSkillLevel" FriendlyName="EmployeeSkillsCollection" CSType="TList&lt;EmployeeSkills&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeSkills_SkillLevels" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
